[submodule "libs/xcsp3-cpp-parser"]
	path = libs/xcsp3-cpp-parser
	url = https://github.com/xcsp3team/XCSP3-CPP-Parser.git
[submodule "libs/universe"]
	path = libs/universe
	url = https://gitlab.univ-artois.fr/cril-exakis-nelite-adp/softwares-tfa/cp/universe.git
[submodule "libs/exception"]
	path = libs/exception
	url = https://gitlab.univ-artois.fr/cril-exakis-nelite-adp/softwares-tfa/cp/except.git
